.loading{
    display: flex;
    justify-content: center;
    margin-left: 50%;
    margin-top: 400px;

}

@media screen and (max-width: 575px){
    .loading{
        top: 40%;
        left: 5%;
       
    }
}